.container {
  background-color: #f9f9f9;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  padding: 3% 10%;
}

.leftSection {
  display: flex;
  align-items: flex-start;
}

.verticalLine {
  width: 10px;
  background-color: #f26722;
  margin-right: 20px;
  height: 100%;
}

.labelWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.horizontalLine {
  width: 60px;
  height: 1px;
  background-color: #5c5c5c;
  margin-right: 10px;
}

.label {
  color: var(--color-secondary);
  font-weight: 600;
}

.heading {
  margin: 0;
  color: #5c6670;
  font-size: 28px;
  font-weight: 700;
}

.rightSection {
  max-width: 800px;
  color: #333;
  font-size: 18px;
  line-height: 1.8;
  margin-top: 20px;
  /* border: 2px solid red; */
}
